[submodule "ubuntu-essentials-install"]
	path = ubuntu-essentials-install
	url = https://github.com/kubikji2/ubuntu-essentials-install.git
	branch = master

[submodule "solidpp"]
	path = solidpp
	url = https://github.com/kubikji2/solidpp
	branch = master